*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper h1{
    display: block;
    color: black;
    justify-content: left;
    align-items: end;
}
.wrapper p{
    display: block;
    color: black;
    justify-content: left;
    align-items: center;
    min-height: 10vh;
}
.wrapper{
    width: auto;
    border: 2px solid rgba(31, 16, 16, 0.2);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 30px 40px;
}
.wrapper .btn{
    width: 100px;
    height: 45px;
    background: #fff;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    pointer-events: painted;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
.wrapper .dropbtn{
    width: 100px;
    height: 45px;
    background: #fff;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    pointer-events: painted;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}
button:hover{
    background-color: #005fcc;
    box-shadow: 0 0 10px #005fcc;
    transform: scale(1.08);
}
img{
    width: 80px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 7%;
}
video {
  width: 100%;
  height: auto;
  border-radius: 10px; /* optional */
}
.p .smurfbtn{
    width: 150px;
    height: 45px;
    background: #081edf;
    border:none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    pointer-events: painted;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}